{
  "extends": ["@react-native-community", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "warn"
  },
  "ignorePatterns": [
    "node_modules/",
    "**/node_modules/",
    "example/",
    "dist/",
    "build/",
    "*.min.js",
    ".expo/",
    ".husky/",
    "coverage/"
  ],
  "env": {
    "jest": true
  },
  "globals": {
    "globalThis": "readonly"
  },
  "overrides": [
    {
      "files": ["src/uuid.js"],
      "rules": {
        "no-bitwise": "off"
      }
    },
    {
      "files": ["src/debounce.js"],
      "rules": {
        "consistent-this": "off"
      }
    },
    {
      "files": ["types-test/**"],
      "rules": {
        "no-void": "off"
      }
    }
  ]
}
